<div *ngIf="loaderService.isLoading | async" class="loader__container">
    <p>Collecting data</p>
    <mat-spinner id="spinner" [color]="color"></mat-spinner>
</div>
<div *ngIf="covidData" id="country">
    <div class="header">
        <a routerLink="/" class="back"><i class="fas fa-arrow-left"></i></a>
        <div class="display__info">
            <img src="{{covidData.flag}}" alt="{{covidData.name}} flag" class="flag">
        </div>
    </div>
    <div class="display__name">
        <h2>{{covidData.name}}</h2>
    </div>

    <div class="data">
        <div id="cases">
            <div id="cases__circle">
                <h3>{{covidData.cases | largeNumber}}</h3>
            </div>
        </div>
    </div>
</div>