@import '../../variables';
.loader__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    #spinner {
        margin-top: 20px;
    }
}

#country {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    #data {
        width: 100%;
        height: fit-content;
        padding: 20px;
        background-color: #222B45;
        //background-color: $blue-darker-color;
        border-radius: 20px;
        .display__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .country {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    width: 35px;
                    border-radius: 5px;
                    margin-right: 10px;
                }
                h4 {
                    color: #fff;
                }
            }
            .change {
                display: block;
                color: #fff;
                text-decoration: none;
                background-color: #4f5d86;
                padding: 8px 12px;
                border-radius: 10px;
                font-size: 14px;
            }
        }
        .statistics {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .data {
                text-align: center;
                p {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                h4 {
                    color: #fff;
                }
                &.cases {
                    color: rgb(233, 99, 22);
                }
                &.recovered {
                    color: $green-lighter-color;
                }
                &.deaths {
                    color: $red-darker-color;
                }
            }
        }
        .chart {
            margin-top: 20px;
            height: 250px;
            width: 100%;
        }
    }
}