<div *ngIf="loaderService.isLoading | async" class="loader__container">
    <p>Collecting data</p>
    <mat-spinner id="spinner" [color]="color"></mat-spinner>
</div>
<div *ngIf="covidData" id="country">
    <main id="data">
        <div class="display__info">
            <div class="country">
                <img src="{{covidData.flag}}" alt="{{covidData.name}} flag">
                <h4>{{covidData.name}}</h4>
            </div>
            <a routerLink="/" class="change">Change</a>
        </div>
        <div class="statistics">
            <div class="data cases">
                <p>Cases</p>
                <h4>{{covidData.cases | largeNumber}}</h4>
            </div>
            <div class="data recovered">
                <p>Recovered</p>
                <h4>{{covidData.recovered | largeNumber}}</h4>
            </div>
            <div class="data deaths">
                <p>Deaths</p>
                <h4>{{covidData.deaths | largeNumber}}</h4>
            </div>
        </div>
        <div echarts [options]="options" class="chart"></div>
    </main>
</div>