<div *ngIf="loaderService.isLoading | async" class="loader__container">
    <p>Collecting data</p>
    <mat-spinner id="spinner" [color]="color"></mat-spinner>
</div>
<div *ngIf="covidData" id="country">
    <!-- <main id="data">
        <div class="display__info">
            <div class="country">
                <img src="{{covidData.flag}}" alt="{{covidData.name}} flag">
                <h4>{{covidData.name}}</h4>
            </div>
            <a routerLink="/" class="change">Change</a>
        </div>
        <div class="statistics">
            <div class="data cases">
                <p>Cases</p>
                <h4>{{covidData.cases | largeNumber}}</h4>
            </div>
            <div class="data recovered">
                <p>Recovered</p>
                <h4>{{covidData.recovered | largeNumber}}</h4>
            </div>
            <div class="data deaths">
                <p>Deaths</p>
                <h4>{{covidData.deaths | largeNumber}}</h4>
            </div>
        </div>
        <div echarts [options]="options" class="chart"></div>
    </main>
    <div class="top10">
        <h3>Top 10 countries with the most cases</h3>
        <div class="list">
            <div class="top" *ngFor="let country of top10Countries">
                <img src="{{country.flag}}" alt="{{country.name}} flag">
                <div class="info">
                    <p>{{country.name | uppercase}}</p>
                    <p>{{country.cases | largeNumber}}</p>
                </div>
            </div>
        </div>
    </div> -->
    <header id="country__info">
        <a routerLink="/"><i class="fas fa-chevron-left"></i>{{covidData.name}}</a>
        <img src="{{covidData.flag}}" alt="{{covidData.name}} flag">
    </header>
    <div class="wrapper">
        <main id="statistics">
            <div id="statistics__card">
                <div class="card cases">
                    <div class="circle">
                        <p>Cases</p>
                        <h2>{{covidData.cases | largeNumber}}</h2>
                        <h3>+ {{covidData.todayCases | largeNumber}}</h3>
                    </div>
                </div>
                <div class="card recovered">
                    <div class="circle">
                        <p>Recovered</p>
                        <h2>{{covidData.recovered | largeNumber}}</h2>
                        <h3>+ {{covidData.todayRecovered | largeNumber}}</h3>
                    </div>
                </div>
                <div class="card deaths">
                    <div class="circle">
                        <p>Deaths</p>
                        <h2>{{covidData.deaths | largeNumber}}</h2>
                        <h3>+ {{covidData.todayDeaths | largeNumber}}</h3>
                    </div>
                </div>
            </div>
            <div id="statistics__chart">
                <div echarts [options]="options" class="chart"></div>
            </div>
        </main>
        <section id="top__countries">
            <h3>Top 10 Country cases</h3>
            <div class="list">
                <div class="top__country" *ngFor="let country of top10Countries">
                    <div class="top__country__info">
                        <img src="{{country.flag}}" alt="{{country.name}} flag">
                        <h4>{{country.name}}</h4>
                    </div>
                    <div class="top__country__number">
                        <h4>{{country.cases | number}}</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>