@import "../../variables";
#main {
    width: 100%;
    height: 100vh;
    background-color: $blue-darker-color;
    position: relative;
    top: 0;
    left: 0;
    padding: 40px 20px;
    overflow: hidden;
    h1 {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 26px;
    }
    .hero {
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 80px;
        &__img {
            margin-bottom: 80px;
            width: 80%;
        }
        .selection {
            padding: 0px 20px;
            h4 {
                color: #ffffff;
                font-size: 22px;
                text-align: center;
            }
            #dropdown {
                transition: height 0.5s ease-in-out;
                max-width: 280px;
                height: 28px;
                margin: 20px auto 0px auto;
                background-color: #fff;
                border-radius: 5px;
                overflow: hidden;
                user-select: none;
                &:hover {
                    cursor: pointer;
                }
                &.show {
                    transition: height 0.5s ease-in-out;
                    height: 196px;
                }
                .title {
                    max-width: 280px;
                    height: 28px;
                    font-size: 16px;
                    padding: 5px 8px;
                    position: relative;
                    i {
                        font-size: 20px;
                        color: $blue-darker-color;
                        position: absolute;
                        top: 40%;
                        right: 8px;
                        transform: translateY(-50%);
                    }
                }
                .menu {
                    width: 100%;
                    height: 168px;
                    font-size: 16px;
                    padding: 5px 0px;
                    overflow-y: scroll;
                    .country {
                        padding: 6px 8px;
                        display: flex;
                        align-items: center;
                        &:hover {
                            background-color: $green-lighter-color;
                        }
                        img {
                            width: 25px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 620px) {
    #main {
        .hero {
            &__img {
                width: 60%;
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    #main {
        .hero {
            &__img {
                width: 40%;
            }
        }
    }
}

@media only screen and (min-width: 1220px) {
    #main {
        .hero {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}