/* You can add global styles to this file, and also import other style files */

@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
::-webkit-scrollbar {
    width: 4px;
}

 ::-webkit-scrollbar-track {
    background: rgb(202, 202, 202);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: $green-darker-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}